<%- include("partials/head.ejs") %>
    <title>Famous Quotes - Admin Section</title>
</head>
<body class="text-center">
  

    <h1> Famous Quotes - Admin Section </h1>

    <form action="/author/new">
        <button>Add Authors</button>
      </form><br>
   
   
      <form action="/quote/new">
        <button>Add Quotes</button>
      </form><br>
   
   
      <form action="/authors">
        <button>List Authors</button>
      </form><br>
    
      <form action="/quotes">
        <button>List Quotes</button>
      </form>

      <a href="/logout"> Logout </a>

      <%- include("partials/footer.ejs") %> 
   
</body>
</html>