<%- include("partials/head.ejs") %>
    <title>Profile Page</title>
</head>
<body class="text-center">
    
    <h1> Profile Page </h1>

    <%- include("partials/footer.ejs") %> 
    
</body>
</html>